extends base
block content
  // h1.text-center.hidden-xs Henri Bourcereau
  br
  .lead!= contents
  br
  .projects.row
  each project in collections.projets
    .row
      .col-xs-4.col-md-3.screenshots-container
        a(href=project.url)
          img.screenshot-thumbnail(src='images/'+project.screenshot)
      .col-xs-8.col-md-9
        h3!= project.title
        div!= project.contents
        a.icon-earth(href=project.url)!=" "+project.title
      


