extends base
block content
  .lead!= contents
  .projects.row
    h3 >> Projets (plus ou moins sérieux)
  each project in collections.projects
    .row
      h4!= project.title
      .col-md-9
        div!= project.contents
        a(href=project.url)!=project.url
      .col-md-3
        a(href=project.url)
          img(src='images/'+project.screenshot)


