extends base
block content
  .lead!= contents
  .projects.row
    // h3 >> Projets (plus ou moins sérieux)
  each project in collections.projects
    .row
      .col-xs-4.col-md-3.screenshots-container
        a(href=project.url)
          img.screenshot-thumbnail(src='images/'+project.screenshot)
      .col-xs-8.col-md-9
        h3!= project.title
        div!= project.contents
        a.icon-earth(href=project.url)!=" "+project.title
      


